

.card {
    background-image: url(image/b2.jpeg) ;
    background-size: cover;
    position: relative;
    
    height: 600px;
    /* background-color: white; */
}

.footer{
  text-align: center;
  margin-top: 3%;
  color: black;

}
#pizzaDetail{
  color:white;
}

